.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}
.wrapperForm {
  width: 100%;
}
.wrapperForm h3 {
  color: #1d7ee4;
}
hr {
  width: 100%;
}
.divFlex {
  display: flex;
  justify-content: space-between;
}

.smallButton {
  height: 25px !important;
  width: 25px !important;

  color: #1d7ee4 !important;
  background: #fff !important;
  border: 2px solid #1d7ee4 !important;
  border-radius: 100% !important;

  font-size: 75% !important;
  cursor: pointer !important;

  box-shadow: 0 0 3px 0px #1d7ee4 !important;
  transition: all 0.3s ease-out !important;
}
.smallButton:hover {
  transform: scale(1.15) !important;
  background: #1d7ee4 !important;
  color: #fff !important;
}
.smallButton:hover svg {
  color: #fff !important;
  box-shadow: 0 0 5px 0px #1d7ee4 !important;
}
.smallButton:active {
  transform: scale(0.7) !important;
  opacity: 40% !important;
}

/* new appoint form design  */

/* new appoint form design ends  */
